@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: 199 79% 52%;
		--color-primary-foreground: 210 20% 98%;
		--color-secondary: 199 23% 74%;
		--color-secondary-foreground: 240 4% 16%;
		--color-accent: 0 0% 73%;
		--color-accent-foreground: 240 4% 16%;
		--color-background: 210 20% 98%;
		--color-foreground: 240 4% 16%;
		--color-muted: 199 23% 74%;
		--color-muted-foreground: 240 4% 16%;
		--color-border: 0 0% 73%;
		--color-input: 199 23% 74%;
		--color-ring: 199 79% 52%;
		--radius: 0.5rem;
	}
}

@layer utilities {
	@keyframes parallax {
		from {
			transform: translate(0%, -50%);
		}

		to {
			transform: translate(0%, 50%);
		}
	}

	.animate-parallax {
		animation: parallax 30s linear infinite;
	}
}

@property --border-angle {
	inherits: false;
	initial-value: 0deg;
	syntax: "<angle>";
}

@keyframes rotate-border {
	to {
		--border-angle: 360deg;
	}
}

.animate-border {
	animation: rotate-border 4s linear infinite;
}