@import "tailwindcss";



/* single utilities layer with one set of keyframes and one animate utility */
@layer utilities {
  @keyframes parallax {
    from {
      transform: translate(0%, -50%);
    }

    to {
      transform: translate(0%, 50%);
    }
  }

  /* Fallback for browsers without animation-timeline */
  @supports not (animation-timeline: scroll()) {
    img {
      transform: translate(0%, 0%) !important;
    }
  }

  /* utility you can use in JSX */
  .animate-parallax {
    animation: parallax 30s linear both;
  }
}

@keyframes parallax {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(50%);
  }
}

.animate-parallax {
  animation: parallax 30s linear infinite;
}

/* Animated Gradient Border */
@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

@keyframes rotate-border {
  to {
    --border-angle: 360deg;
  }
}

/* Default animation class */
.animate-border {
  animation: rotate-border 4s linear infinite;
}

@theme {
  --color-primary: #3BA3D3;
  --color-primary-foreground: #FEFEFE;
  --color-secondary: #A4C4CD;
  --color-secondary-foreground: #28292E;
  --color-accent: #BBBBBB;
  --color-accent-foreground: #28292E;
  --color-background: #FEFEFE;
  --color-foreground: #28292E;
  --color-muted: #A4C4CD;
  --color-muted-foreground: #28292E;
  --color-border: #BBBBBB;
  --color-input: #A4C4CD;
  --color-ring: #3BA3D3;
}

/* @theme {
  --color-primary: #2E2A39;
  --color-primary-foreground: #FDFBF7;
  --color-secondary: #B0CCC4;
  --color-secondary-foreground: #2E2A39;
  --color-background: #B0CCC4;
  --color-gradient-background: #B0CCC4;
  --color-foreground: #2E2A39;
  --color-background-contrast: #63998A;
  --color-shadow: #2E2A39;
  --color-button: #2E2A39;
  --color-button-text: #FDFBF7;
  --color-secondary-button: #B0CCC4;
  --color-secondary-button-text: #2E2A39;
  --color-link: #2E2A39;
  --color-badge-foreground: #2E2A39;
  --color-badge-background: #B0CCC4;
  --color-badge-border: #2E2A39;
  --color-payment-terms-background: #B0CCC4;
} */